<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ObjectDetection-YOLOv8</title>
   
</head>
<body>
    <header class="feature-box right">
        <nav>
            <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/FrontPage">Video</a></li>
            <li><a href="/webcam">LiveWebcam</a></li>
            </ul>
        </nav>
    </header>

    <header class="feature-box below">
    </header>
</body>
</html>
